@import '~@/assets/scss/_variables.scss';

.button-global {
    background-color: $main-color;
    color: #ffffff;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
    transition: all 300ms linear;
    &:not(:last-of-type) {
        margin-right: 1rem;
    }
    &:hover {
        transform: scale(1.1);
        text-decoration: underline;
    }
}

.button-close {
    background-color: $background-color-2;
}
