@import '~@/assets/scss/_variables.scss';

.button-global {
    background-color: $main-color;
    color: #ffffff;
    border: none;
    padding: 8px;
    cursor: pointer;
    border-radius: 4px;
    &:not(:last-of-type) {
        margin-right: 1rem;
    }
}

.button-close {
    background-color: #bdbdbd;
}
