@import '~@/assets/scss/_variables.scss';

svg.dropdown {
    height: 1rem;
    width: 1rem;
    margin: 0.5rem;
    filter: invert(1);
    cursor: pointer;
    opacity: 0;
    @media screen and (max-width: $break-small) {
        display: none;
    }
    &.active {
        opacity: 1;
    }
    &.ascending {
        transform: rotate(180deg);
    }
    &:hover {
        opacity: 0.65;
    }
}
