header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 75px;
    width: 100%;
    background-color: #39a2ff;
    a {
        padding: 1rem;
        cursor: pointer;
        svg {
            width: 95px;
            height: 40px;
        }
    }
}
