@import '~@/assets/scss/_variables.scss';

nav {
    display: flex;
    flex-direction: column;
    width: $sidebar-width;
    background-color: $background-color-1;
    border-right: 1px solid $border-color;
    @media screen and (max-width: $break-large) {
        width: $sidebar-width-2;
    }
    @media screen and (max-width: $break-medium) {
        &.opened {
            position: absolute;
            display: flex;
            width: 100%;
            height: 100%;
            border-right: none;
            z-index: 10;
        }
        display: none;
    }
}
