@import '~@/assets/scss/_variables.scss';

main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4rem;
    position: relative;
    section.wrapper {
        display: flex;
        flex-direction: column;
        h2,
        div.buttonbar {
            padding: 0 1rem;
        }
        h2 {
            text-align: center;
            font-size: 72px;
            font-weight: 300;
            @media screen and (max-width: $break-large) {
                font-size: 62px;
            }
            @media screen and (max-width: $break-medium) {
                font-size: 52px;
            }
        }
        div.buttonbar {
            display: flex;
            justify-content: center;
            @media screen and (max-width: $break-medium) {
                flex-direction: column;
            }
            div {
                display: flex;
                @media screen and (max-width: $break-medium) {
                    justify-content: center;
                }
                button {
                    @media screen and (max-width: $break-large) {
                        margin: 0 1rem;
                    }
                    @media screen and (max-width: $break-medium) {
                        margin: 2rem;
                    }
                    width: 5rem;
                    height: 5rem;
                    border-radius: 50%;
                    background-color: $background-color-1;
                    outline: none;
                    border: none;
                    cursor: pointer;
                    margin: 0 2rem;
                    svg {
                        width: 50%;
                        max-height: 2rem;
                    }
                    &:hover {
                        background-color: $main-color;
                        svg {
                            filter: invert(1);
                        }
                    }
                }
            }
        }
    }
}
