div.list {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

button.action {
    position: absolute;
    right: 0;
    height: 100%;
    width: 52px;
    padding: 0;
    margin: 0 1rem;
    border: none;
    outline: none;
    cursor: pointer;
    &:hover {
        svg {
            opacity: 1;
        }
    }
    svg {
        width: 20px;
        height: 20px;
        opacity: 0.5;
    }
}
