/* Imports */
@import '_variables';
@import '_flex';

/* Flex */
.flex {
    display: flex;
}

.flex.column {
    flex-direction: column;
}

.flex.column-reverse {
    flex-direction: column-reverse;
}

.space-between {
    justify-content: space-between;
}

.space-around {
    justify-content: space-around;
}

.justify-center {
    justify-content: center;
}

.justify-start {
    justify-content: flex-start;
}

.justify-end {
    justify-content: flex-end;
}

.justify-self-center {
    justify-self: center;
}

.justify-self-start {
    justify-self: flex-start;
}

.justify-self-end {
    justify-self: flex-end;
}
