/* Colors */
$main-color: #39a2ff;

$border-color: #8d8d8d;

$background-color-1: #f2f2f2;
$background-color-2: darken($background-color-1, 8%);
$background-hover-color-1: darken($background-color-1, 4%);
$background-hover-color-2: darken($background-color-2, 4%);

/* Sizes */
$header-height: 75px;
$sidebar-width: 350px;
$sidebar-width-2: 275px;

/* Responsive */
$break-small: 480px;
$break-medium: 800px;
$break-large: 1200px;
